@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@200&display=swap');

body{
    background-color: #191919;
    color: whitesmoke;
    font-family: "Poppins", sans-serif;
}